.odds{
  background-color: #ffb5c0;
  font-family: "Verdana", "Dejavu Sans", sans-serif ;
}

#second{
  color: #0000ff;
  font-size: 36px;
}

.third{
  font-size: 34px;
}

#fourth{
  background-color: #90ee90;
  font-size: 24px;
  font-weight: bold;
}
