.btn_text {
    font-family: "Times New Roman", Helvetica, sans-serif;
    font-size: 24px;

}
.btn_1{
    background-color: #000000;
    color: #ffffff;
}
.btn_2{
    background-color: #ffff00;
}
